<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <style>
        footer {
        text-align: center;
        padding: 3px;
        background-color: rgba(136, 136, 136, 0.815);
        color: rgb(54, 54, 54);
        }
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .w3-grad {background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.226), rgb(157, 230, 224));}
        
    </style>
</head>

<div class="navbar">
    <router-outlet></router-outlet>
</div>   
    
<body></body>


<footer>
    <p style="color:white;font-size:14px;">Grupo 4</p>
    <p style="color:white;font-size:18px;">Ingeniería de Software II</p>
</footer>
